<div class="container">
  <!-- Content here -->
  <%# users container %>
  <div class="row">
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      <%= image_tag(@user.avatar, :class => "img-thumbnail") %>
      <%= @user.name %>
    </div>
    <div class="col-sm">
      
    </div>
  </div>
<%#  blogs container  %>
    <% @blogs.each do |blog| %>

  <div class="row">
    <div class="col-sm">
      <p>blog image goes here!</p>
    </div>
    <div class="col-sm">
      <%= link_to blog.title, blog %>
    </div>
  </div>
<% end %>

</div>
